<div id="head"> </div>



<div class="body">
        <div id="left">
                <h1>BMW GROUP IN SOUTH AFRICA.</h1>
                <p>The 2015 BMW i8 is beautiful. Make no mistake about it: this will instantly be the most-exciting car on the roads from the second half of next year.
                                It is significantly more challenging to grasp the i8's performance potential in advance, like we can for most new sports cars and even hypercars from the big names.
                                But while the i3 might be a bit funky, the i8 is stunning. Low roof, scorching pace, style for days: this i8 is hot.
                                It also brings forth never-before-executed concepts in tech, aero, propulsion and grip.
                                Therefore, the i8 presents a huge volume of data to take into our already-packed, car-mag-reading brains.
                                But we all need to relax a lot more, and recall that it is BMW here.
                         When BMW makes a $140,000 exotic "progressive sports car" -- be sure it will pack serious thrills.
                                                  
                </p>
        </div>
        <div id = "right">
                <a routerLink="contactus.html"><img src="../../assets/bm2.jpg" alt="" class="center" height="100"></a>
        </div> 
</div>

   
<div id="foot" >  <p>Powered by Formula 1</p></div>