<div id="head"> </div>


<div class="body">

    <h1> You have booked a test drive at your nearest BMW dealership!</h1>
    <br>
   
    <ul>
    <h1><li><label>Name:</label>{{name}}</li></h1>
    <h1><li><label>Surame:</label>{{surname}}</li></h1>
    <h1><li><label>Car:</label>{{car}}</li></h1>
    <h1><li><label>Date:</label>{{date}}</li></h1>
</ul>

<div id = "right">
<a routerLink="contactus.html"><img src="../../assets/bm2.jpg" alt="" class="center" height="100"></a>
</div>





<div id="foot" >  <p>Powered by Formula 1</p></div>
<router-outlet></router-outlet>