<div id="head"> 
                
</div>



<div class="body">
                                <div class="column">
                                               
                                                <a routerLink="contactus.html" ><img src="../../assets/color.gif" alt="" width="100%" height="100%"></a>
                                                <p>2018 Genesis G90 5.0 V8 - High Performance Drive Review
                                                        Floats like a cloud, but roars like thunder! This V8 Genesis G90 takes to the handling loop and we discover great chassis balance -- despite the ultra soft ride. Sachs ZF double adaptive shocks make for a quite competent limo in corners. A look at the posh back seat and LED lighting to round out the review. http://www.car-revs-daily.com The Best Car News, Expert Reviews and Automotive Artwork Car-Revs-Daily on Facebook https://www.facebook.com/carrevsdaily Subscribe to site newsfeed via RSS! http://www.car-revs-daily.com/feed
                                                        </p>
                                               
                                </div>
                                <div class="column">
                                                <a routerLink="contactus.html" ><img src="../../assets/rims.gif" alt=""width="100%" height="100%"></a>
                                                <p>New headcam for the GoPro6! Passat is huge and cheap, but also pretty fast! Turbo motor makes this much less of a dead fish than most entry-spec mid-size sedans. http://www.car-revs-daily.com The Best Car News, Expert Reviews and Automotive Artwork Car-Revs-Daily on </p>
                                               
                                
                                                    
</div>



<div id="foot" >  <p>Powered by Formula 1
              
            </p></div>
